@keyframes testAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes back {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
